{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
   



<section class="container">
  <h1>Pixels Makers, créer, partager, soutenir</h1>
  <div class="row">
  {% for artwork in artworks %}
    <div class="col-3">
        
    
    <img class="card-img-top artwork" src="{{vich_uploader_asset(artwork, 'imagePrincipale')}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{artwork.titre}}</h5>
                                    <!-- Contenu -->
                                   <p>{{artwork.contenu}}</p>
                                   
                                </div>
                            </div>
      
  </div>
    {% endfor %}
  <div class="row">
   
  </div>


</section>

   
{% endblock %}

