{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Pixels Makers, créer, partager, soutenir</h1>
    <p>Ceci est la page d'accueil elle sert de gallerie principale</p>

    {% for artwork in artworks %} 
    <p>{{artwork.titre}}</p>
    <p>{{artwork.contenu}}</p>
    <p>{{artwork.image1}}</p>

    {% endfor %}
{% endblock %}

