{% extends '@EasyAdmin/page/content.html.twig' %}

    {% block content %}
    <link rel="shortcut icon" href="/icons/admin/Favicon.ico" type="image/x-icon" />
    <title>{% block title %}Pixels Makers{% endblock %}</title>
    </header>
    
    <div class="jumbotron">
    <h1 class="display-5">Administration</h1>
    <p class="lead"> Bienvenue dans l'interface d'administration de Pixels Makers.</p>

    </div>


<style>
header {
    text-align:center;
}
.jumbotron{
    margin-top:1.5em;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px #00000033;
}

</style>

    {% endblock %}